@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1&family=Poppins:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');

@media only screen and (max-device-width: 900px) {
 header { width:600px; } 
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

a{
  text-decoration: none;
  color: inherit;
}

body{
	font-family: 'Roboto', sans-serif;
	background-color: #333333;
	/*max-width: 1600px;*/
}

:root{
	--primary_color: #1730FF;
	--secondary_color: #4F5FE5;
	--text_light: #E7E7E7;
	--text_dark: #1C1C1C;
	--fundo: #282828;
	--fundo-sec: #363636;
}

<<<<<<< HEAD
/*header{
	width: 100%;
}*/
=======
header{
	/*width: 100%;*/
}
>>>>>>> f54d9e3690f754361ff4b858e1e6654f045ce427

.cabecalho {
  padding-top: 20px;
  padding-bottom: 20px;
	display: flex;
	flex-direction: column;
	height: auto;
	color: var(--text_light);
	align-items: start;
	padding: 40px;
	gap: 20px;
	/**max-width: 300px;**/
	max-width: 600px;
	
}

.ola{
	color: var(--text_light);
	background-color: var(--fundo);
	border-radius: 5px;
	padding: 5px;
	font-display: "Roboto", sans-serif;
	font-weight: 800;

}

header{
	/**height: 320px;**/
	background: #de6161;   fallback for old browsers 
	background: -webkit-linear-gradient(to right, #2657eb, #de6161);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #1730FF, #de6161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.imagem-div{
	/*max-width: 600px;*/
}

.person{
<<<<<<< HEAD
  height: 100%;
  width: 100%;
  /*margin-top: 40px;*/
}

=======
  height: auto;
  width: auto;
  /*min-width: auto;*/
  margin-top: 40px;
}

section{
  display: flex;
  /*flex-direction: row;*/
  /*width: auto;*/
>>>>>>> f54d9e3690f754361ff4b858e1e6654f045ce427


.secao{
<<<<<<< HEAD
  column-gap: 10px;
  margin: 10px;
  /*max-width: 50%;*/
=======
  display: block;
  flex-direction: column;
  column-gap: 10px;
  margin: 10px;
  width: auto;
>>>>>>> f54d9e3690f754361ff4b858e1e6654f045ce427
}

.about{
  margin-bottom: 10px;
  color: var(--text_light);
  font-family: 'Roboto', sans-serif;

  margin-top: 30px;
  
}

.subtitulo{
  color: var(--text_light);
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 34px;
}

.info{
  color: var(--text_light);
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
  padding-right: 20px;
}

#info2{
  padding-bottom:40px;
  padd
}

p{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: var(--text_light);
  padding: 5px;
}

h1, h2, h3{
  font-family: 'Roboto', sans-serif;
  font-size: 38px;
  font-weight: 800;
  color: var(--text_light);
}

.icones{
  width: 100%;
  color: var(--text_light);
  display: flex;
  justify-items: space-around;
  gap: 10px;
  align-content: center;
}

.secao2{
  padding: 10px;
  padding-top:30px;
}

.we-go{
  margin-bottom:10px;
  margin-top: 30px;
  color: var(--text_light);
  font-family: 'Roboto', sans-serif;
	width: 150px;
	
}
}

.sub4{
  padding-bottom:20px;
}

.secao2{
	/*max-width: 100%;*/
  padding-top: 10px;
  padding-bottom: 30px;
	background: #de6161;   fallback for old browsers 
	background: -webkit-linear-gradient(to right, #2657eb, #de6161);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #1730FF, #de6161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */}


.we-go, .ola, .about {
	box-shadow: 4;
	background-color: var(--fundo);
	border-radius: 5px;
	padding: 5px;
	text-align: center;
	  font-size: 24px;
  font-weight: 500;
}

.about{
	
	
	font-display: "Roboto", sans-serif;
	width: 130px;
	text-align: center;
}