@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1&family=Poppins:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

a{
  text-decoration: none;
  color: inherit;
}

body{
	font-family: 'Roboto', sans-serif;
	background-color: #333333;
	max-width: 1600px;
}

:root{
	--primary_color: #1730FF;
	--secondary_color: #4F5FE5;
	--text_light: #E7E7E7;
	--text_dark: #1C1C1C;
	--fundo: #333333;
}

header{
	width: 100%;
}

.cabecalho {
  padding-top: 20px;
  padding-bottom: 20px;
	display: flex;
	flex-direction: column;
	height: auto;
	color: var(--text_light);
	align-items: start;
	padding: 40px;
	gap: 20px;
	/**max-width: 300px;**/
	max-width: 800px;
	
}

.ola{
	color: var(--secondary_color);
	background-color: var(--fundo);
	border-radius: 5px;
	padding: 5px;
	font-display: "Roboto", sans-serif;

}

header{
	/**height: 320px;**/
	background-image: linear-gradient(to right ,var(--primary_color), var(--secondary_color));
}

.person{
  height: auto;
  max-width: 50%;
  margin-top: 40px;
}

section{
  display: flex;
  /*flex-direction: row;*/


  
}

.secao{
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  margin: 10px;
  max-width: 50%;
}

.about{
  margin-bottom: 10px;
  color: var(--text_light);
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-top: 30px;
  
}

.subtitulo{
  color: var(--text_light);
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 34px;
}

.info{
  color: var(--text_light);
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
  padding-right: 20px;
}

#info2{
  padding-bottom:40px;
  padd
}

p{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: var(--text_light);
  padding: 5px;
}

h1, h2, h3{
  font-family: 'Roboto', sans-serif;
  font-size: 38px;
  font-weight: 800;
  color: var(--text_light);
}

.icones{
  width: 100%;
  color: var(--text_light);
  display: flex;
  justify-items: space-around;
  gap: 10px;
  align-content: center;
}

.secao2{
  padding: 10px;
  padding-top:30px;
}

.we-go{
  margin-bottom:10px;
  margin-top: 30px;
  color: var(--text_light);
	/**background-color: var(--primary_color);**/
	border-radius: 5px;
  padding: 5px;
  font-size: 20px;
}

.sub4{
  padding-bottom:20px;
}

.secao2{
  padding-top: 10px;
  padding-bottom: 30px;
  background-image: linear-gradient(to right ,var(--primary_color), var(--secondary_color));
}